/****** Object:  StoredProcedure [dbo].[PROC_TMP_CARGA_SIGEO]    Script Date: 07/04/2021 17:16:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_TMP_CARGA_SIGEO]
AS
  --
  -- STORED PROCEDURE
  --    PROC_TMP_CARGA_SIGEO.
  --
  -- DESCRIPTION
  --     RESPONSÁVEL PELAS CARGAS DA ORGANIZAÇÃO.
  --
  -- PARAMETERS
  --     NENHUM
  --
  -- RETURN VALUE
  --         -1 ERRO.
  --          0 SEM ERRO.
  --
  -- CHANGE HISTORY
  --     06/04/2021 - VERSÃO INICIAL
  --
  ---- LEGENDA
  ------ (I) INICIO DO PROCESSAMENTO
  ------ (F) FINAL DO PROCESSAMENTO
  ------ (E) ERRO
  ------ (A) DESCRIÇÃO ALTERADA PELO USUÁRIO
  ------ (N) NOVO CÓDIGO CADASTRADO PELO USUÁRIO
  ------ (X) NENHUM REGISTRO A PROCESSSAR

  SET NOCOUNT ON;

  TRUNCATE TABLE TB_TMP_CARGA_SIGEO;

  IF NOT EXISTS(SELECT * FROM sys.indexes WHERE name = 'IDX_TB_ORGAO' AND object_id = OBJECT_ID('TB_ORGAO'))
  BEGIN
       CREATE INDEX IDX_TB_ORGAO ON TB_ORGAO (TB_ORGAO_CODIGO, TB_ORGAO_DESCRICAO)
  END


  DECLARE @MYID uniqueidentifier = NEWID();
  DECLARE @DT_PROC_INICIAL timestamp;
  DECLARE @DT_PROC_FINAL timestamp;
  DECLARE @QT_REGISTROS int = 0;
  DECLARE @DS_MODULO varchar(50);

  DECLARE @TB_LINHA int = 0,
          @TB_ORGAO_CODIGO int,
          @TB_ORGAO_DESCRICAO varchar(150),
          @TB_ORGAO_DESCRICAO_NOVA varchar(150)

  SET @DS_MODULO = 'CARGA SIGEO - ORGÃO'
  SET @QT_REGISTROS = (SELECT
    ISNULL(COUNT(*),0)
  FROM TB_TMP_CARGA_SIGEO)
  IF @QT_REGISTROS = 0 
  BEGIN

	INSERT INTO TB_TMP_CARGA_LOG
    VALUES (@TB_LINHA, @MYID, @DS_MODULO, 'X', 'NADA A PROCESSAR', GETDATE(), @QT_REGISTROS)

		DROP INDEX IDX_TB_ORGAO ON TB_ORGAO

	RETURN
  END
  
  /*===================================================================================
    =======================================ORGÃO=======================================
	===================================================================================*/
BEGIN 
	INSERT INTO TB_TMP_CARGA_LOG
    VALUES (@TB_LINHA, @MYID, @DS_MODULO, 'I', NULL, GETDATE(), @QT_REGISTROS)

	  BEGIN TRY

		BEGIN TRAN

		  DECLARE SIGEO_ORGAO_CURSOR CURSOR FOR

		  SELECT DISTINCT
			CS.TB_ORGAO_CODIGO,
			CS.TB_ORGAO_DESCRICAO
		  FROM TB_TMP_CARGA_SIGEO CS

		  OPEN SIGEO_ORGAO_CURSOR
		  FETCH NEXT FROM SIGEO_ORGAO_CURSOR INTO @TB_ORGAO_CODIGO,
		  @TB_ORGAO_DESCRICAO

		  WHILE @@FETCH_STATUS = 0
		  BEGIN

			---
			--- 1. ORGÃO
			---
			SET @TB_LINHA = @TB_LINHA + 1;

			IF EXISTS (SELECT
				*
			  FROM TB_ORGAO O
			  WHERE O.TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO)
			BEGIN

			  SET @TB_ORGAO_DESCRICAO_NOVA = (SELECT
				RTRIM(LTRIM(TB_ORGAO_DESCRICAO))
			  FROM TB_ORGAO O
			  WHERE O.TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO)
			  IF EXISTS (SELECT
				  *
				FROM TB_ORGAO O
				WHERE O.TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO)
			  BEGIN
			  
				IF EXISTS (SELECT
					*
				  FROM TB_ORGAO O
				  WHERE O.TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO
				  AND TB_ORGAO_DESCRICAO <> @TB_ORGAO_DESCRICAO_NOVA)
				BEGIN
				  --APENAS ATUALIZA A DESCRIÇÃO
				  SET @TB_LINHA = (SELECT
					CS.TB_LINHA
				  FROM TB_TMP_CARGA_SIGEO CS
				  WHERE TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO)
				  UPDATE TB_ORGAO
				  SET TB_ORGAO_DESCRICAO = @TB_ORGAO_DESCRICAO_NOVA
				  WHERE TB_ORGAO_CODIGO = @TB_ORGAO_CODIGO
				  --
				  INSERT INTO TB_TMP_CARGA_LOG
					VALUES (@TB_LINHA, @MYID, @DS_MODULO, 'A', NULL, GETDATE(), @QT_REGISTROS)
				END
			  END
			END
			ELSE
			BEGIN
			
			  --NOVO REGISTRO

			  INSERT INTO TB_ORGAO (TB_ORGAO_CODIGO
			  , TB_ORGAO_DESCRICAO
			  , TB_ORGAO_STATUS
			  , TB_ORGAO_IMPLANTADO
			  , TB_ORGAO_INTEGRACAO_SIAFEM)
				VALUES (@TB_ORGAO_CODIGO, @TB_ORGAO_DESCRICAO_NOVA, 1, 1, 1)

			  INSERT INTO TB_TMP_CARGA_LOG
				VALUES (@TB_LINHA, @MYID, @DS_MODULO, 'N', NULL, GETDATE(), @QT_REGISTROS)
			END

			FETCH NEXT FROM SIGEO_ORGAO_CURSOR INTO @TB_ORGAO_CODIGO,
			@TB_ORGAO_DESCRICAO
		  END

	   INSERT INTO TB_TMP_CARGA_LOG
				VALUES (@TB_LINHA, @MYID, @DS_MODULO, 'F', NULL, GETDATE(), @QT_REGISTROS)
		COMMIT TRAN

	  END TRY

	  BEGIN CATCH

		-- VERIFICA SE EXISTE ALGUMA TRANSAÇÃO ABERTA
		IF @@TRANCOUNT > 0
		  ROLLBACK TRAN

		-- EM CASO DE ERRO

		COMMIT

	  END CATCH

	  CLOSE SIGEO_ORGAO_CURSOR

	  DEALLOCATE SIGEO_ORGAO_CURSOR

END 