<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--Ambiente Desenv -->
      <add name="Connection" connectionString="(adicione a connectionString aqui)" providerName="System.Data.SqlClient" />
      <add name="ConnectionSEG" connectionString="(adicione a connectionString aqui)" providerName="System.Data.SqlClient" />
      <add name="SEGwebEntities" connectionString="(adicione a connectionString aqui)" providerName="System.Data.EntityClient" />
      <add name="SAMwebEntities" connectionString="(adicione a connectionString aqui)" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>