*.suo
*.user
*.sln.docstates
**/*.bak
**/*.pdb
**/*.cache
**/*.txt
.vs/
Sam.Web/obj/*
Sam.View/obj/*
Sam.ServiceInfraestructure/obj/*
Sam.Presenter/obj/*
Sam.Integracao.SIAF/obj/*
Sam.Integracao.ConsultaWs/obj/*
Sam.Infraestructure/obj/*
Sam.Facede/obj/*
Sam.Entity/obj/*
Sam.Domain.Infrastructure/obj/*
Sam.Domain.Entity/obj/*
Sam.Domain.Business/obj/*
Sam.Configuracao/bin/*
Sam.Configuracao/obj/*
Sam.Common.EMail/obj/*
Sam.Common/obj/*
Sam.Business/obj/*
/Sam.Integracao.SIGEO.ConsoleApp/bin/Debug
/Sam.Integracao.SIGEO.ConsoleApp/obj/Debug
/packages/System.ComponentModel.Annotations.4.7.0
/packages/Microsoft.IO.RecyclableMemoryStream.1.4.1
