<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--Ambientes Desenvolvimento CTQ -->
    <!-- Base Dados -->
    <add name="SIGEO_CONN" connectionString="(banco de dados do Estoque)"
			 providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- caminho onde ficará disponibilizado o SIGEO -->
    <add key="SIGEO_EXCEL" value="(Caminho completo para arquivo excel)"/>
    <!--  -->
  </appSettings>
</configuration>