/****** Object:  Database [Dbseg]    Script Date: 14/05/2021 09:19:16 ******/
CREATE DATABASE /*nome do banco*/
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dbseg_Data', FILENAME = N'H:\MSSQLSERVER\Data\Dbseg_Data.mdf' , SIZE = 102400KB , MAXSIZE = 10485760KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'Dbseg_Log', FILENAME = N'H:\MSSQLSERVER\Log\Dbseg_Log.ldf' , SIZE = 1024KB , MAXSIZE = 5242880KB , FILEGROWTH = 5120KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [/*nome do banco*/].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  User /*nome do usuário*/    Script Date: 14/05/2021 09:19:17 ******/
CREATE USER /*nome do usuário*/ FOR LOGIN /*nome do login*/ WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User /*nome do usuário*/    Script Date: 14/05/2021 09:19:17 ******/
CREATE USER /*nome do usuário*/ FOR LOGIN /*nome do login*/ WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User /*nome do usuário*/    Script Date: 14/05/2021 09:19:17 ******/
CREATE USER /*nome do usuário*/ FOR LOGIN /*nome do login*/ WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_dataexec]    Script Date: 14/05/2021 09:19:17 ******/
CREATE ROLE [db_dataexec]
GO
ALTER ROLE [db_owner] ADD MEMBER [ususeg]
GO
ALTER ROLE [db_owner] ADD MEMBER [ususamweb]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usudbsamweb]
GO
/****** Object:  Table [dbo].[TB_LOG_USUARIO_RESUMO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOG_USUARIO_RESUMO](
	[TB_LOGIN_ID] [int] NOT NULL,
	[TB_LOG_USUARIO_TRANSACAO_ID] [int] NOT NULL,
	[QTD_TOTAL_ACESSOS] [int] NULL,
	[QTD_ACESSOS_180DIAS] [int] NULL,
	[QTD_ACESSOS_90DIAS] [int] NULL,
	[QTD_ACESSOS_30DIAS] [int] NULL,
	[ULTIMO_ACESSO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_LOGIN_ID] ASC,
	[TB_LOG_USUARIO_TRANSACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_LOG_USUARIO_QTD_ACESSOS]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_LOG_USUARIO_QTD_ACESSOS] WITH SCHEMABINDING
AS
        SELECT TB_LOGIN_ID,
               TB_LOG_USUARIO_TRANSACAO_ID,
               QTD_TOTAL_ACESSOS,
               QTD_ACESSOS_180DIAS,
               QTD_ACESSOS_90DIAS,
               QTD_ACESSOS_30DIAS,
               ULTIMO_ACESSO
          FROM dbo.TB_LOG_USUARIO_RESUMO
         WHERE     TB_LOG_USUARIO_TRANSACAO_ID = 35

GO
/****** Object:  Table [dbo].[TB_PERFIL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFIL](
	[TB_PERFIL_ID] [smallint] NOT NULL,
	[TB_PERFIL_ATIVO] [bit] NOT NULL,
	[TB_PERFIL_DESCRICAO] [varchar](100) NOT NULL,
	[TB_PERFIL_PESO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_PERFIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[TB_USUARIO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_USUARIO_CPF] [varchar](11) NOT NULL,
	[TB_USUARIO_IND_ATIVO] [bit] NOT NULL,
	[TB_USUARIO_NOME_USUARIO] [varchar](200) NOT NULL,
	[TB_USUARIO_END_FONE] [varchar](10) NULL,
	[TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI] [int] NOT NULL,
	[TB_USUARIO_EMAIL] [varchar](100) NULL,
	[TB_ORGAO_ID] [int] NULL,
	[TB_GESTOR_ID] [int] NULL,
 CONSTRAINT [PK__TB_USUARIO__7F60ED59] PRIMARY KEY CLUSTERED 
(
	[TB_USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_LOGIN]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOGIN](
	[TB_LOGIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_USUARIO_ID] [int] NOT NULL,
	[TB_LOGIN_ATIVO] [bit] NOT NULL,
	[TB_LOGIN_SENHA] [varchar](255) NULL,
	[TB_LOGIN_DATA_CADASTRO] [datetime] NULL,
	[TB_LOGIN_TENTATIVAS_INVALIDAS] [int] NULL,
	[TB_LOGIN_BLOQUEADO] [bit] NULL,
	[TB_LOGIN_TROCAR_SENHA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PERFIL_LOGIN]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFIL_LOGIN](
	[TB_PERFIL_LOGIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_PERFIL_ID] [smallint] NOT NULL,
	[TB_LOGIN_ID] [int] NOT NULL,
	[TB_ORGAO_ID_PADRAO] [int] NULL,
	[TB_GESTOR_ID_PADRAO] [int] NULL,
	[TB_ALMOXARIFADO_ID_PADRAO] [int] NULL,
	[TB_UO_ID_PADRAO] [int] NULL,
	[TB_UGE_ID_PADRAO] [int] NULL,
	[TB_UA_ID_PADRAO] [int] NULL,
	[TB_DIVISAO_ID_PADRAO] [int] NULL,
	[TB_PERFIL_LOGIN_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK__TB_PERFIL_LOGIN__0F975522] PRIMARY KEY CLUSTERED 
(
	[TB_PERFIL_LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_LOGIN_NIVEL_ACESSO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO](
	[TB_LOGIN_NIVEL_ACESSO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_NIVEL_ID] [tinyint] NOT NULL,
	[TB_PERFIL_LOGIN_ID] [int] NOT NULL,
	[TB_LOGIN_NIVEL_ACESSO_VALOR] [int] NOT NULL,
	[TB_LOGIN_NIVEL_ACESSO_ID_PAI] [int] NULL,
	[TB_LOGIN_NIVEL_ACESSO_DEFAULT] [bit] NULL,
	[TB_LOGIN_NIVEL_ACESSO_PADRAO] [bit] NULL,
	[TB_LOGIN_NIVEL_ACESSO_ATIVO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_LOGIN_NIVEL_ACESSO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_NIVEL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NIVEL](
	[TB_NIVEL_ID] [tinyint] NOT NULL,
	[TB_NIVEL_DESCRICAO] [varchar](30) NOT NULL,
	[TB_NIVEL_ID_PAI] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_NIVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_DADOS_USUARIO_PERFIS]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[VW_DADOS_USUARIO_PERFIS]
AS

    SELECT    pf.TB_LOGIN_ID
            , pf.TB_USUARIO_ID
            , u.TB_USUARIO_CPF
            , u.TB_USUARIO_IND_ATIVO
            , TB_USUARIO_NOME_USUARIO = RTRIM(LTRIM(u.TB_USUARIO_NOME_USUARIO))           
            , u.TB_USUARIO_END_FONE
            , u.TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI
            , u.TB_USUARIO_EMAIL
            , pf.TB_PERFIL_LOGIN_ID
            , p.TB_PERFIL_ID
            , p.TB_PERFIL_DESCRICAO
            , p.TB_PERFIL_PESO
            , pf.TB_ORGAO_ID
            , pf.TB_GESTOR_ID
            , pf.TB_GESTOR_ID_PADRAO
            , pf.TB_ORGAO_ID_PADRAO
            , pf.TB_UO_ID
            , pf.TB_UGE_ID
            , pf.TB_UA_ID
            , pf.TB_DIVISAO_ID
            , pf.TB_ALMOXARIFADO_ID
            , [DESCRICAO_PERFIL]   = [TB_PERFIL_DESCRICAO] -- + CASE WHEN [TB_GESTOR_ID_PADRAO] > 0 THEN ' (Padrão)' ELSE '' END 
            , [CODIGOS_PERFIL]     =  REPLACE(REPLACE([TB_PERFIL_DESCRICAO], 'Operador', 'Oper.'), 'Administrador', 'Adm.') 
                                        -- + CASE WHEN [TB_GESTOR_ID_PADRAO] > 0 THEN ' (Padrão)' ELSE '' END
            , [PERFIL_RELATORIO]   = REPLACE(REPLACE([TB_PERFIL_DESCRICAO], 'Operador', 'Oper.'), 'Administrador', 'Adm.') 
                                        -- + CASE WHEN [TB_GESTOR_ID_PADRAO] > 0 THEN ' (Padrão)' ELSE '' END
            , lqa.ULTIMO_ACESSO
            , lqa.QTD_TOTAL_ACESSOS
            , lqa.QTD_ACESSOS_30DIAS
            , lqa.QTD_ACESSOS_90DIAS
            , lqa.QTD_ACESSOS_180DIAS
            , ROW_NUMBER() OVER(PARTITION BY u.TB_USUARIO_CPF, pf.TB_GESTOR_ID ORDER BY u.TB_USUARIO_CPF ASC, pf.TB_GESTOR_ID_PADRAO DESC, pf.TB_UGE_ID ASC, pf.TB_UA_ID, pf.TB_DIVISAO_ID ) AS RowId

      FROM      dbSEG.dbo.TB_USUARIO              u   (NOLOCK)
    INNER JOIN (
                SELECT        l.TB_USUARIO_ID
                            , l.TB_LOGIN_ID
                            , pf.TB_PERFIL_LOGIN_ID
                            , pf.TB_PERFIL_ID
                            , pf.TB_GESTOR_ID_PADRAO
                            , pf.TB_ORGAO_ID_PADRAO
                            , TB_ORGAO_ID        = MAX(CASE n.TB_NIVEL_ID WHEN 1 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_GESTOR_ID       = MAX(CASE n.TB_NIVEL_ID WHEN 6 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UO_ID           = MAX(CASE n.TB_NIVEL_ID WHEN 2 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UGE_ID          = MAX(CASE n.TB_NIVEL_ID WHEN 3 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UA_ID           = MAX(CASE n.TB_NIVEL_ID WHEN 4 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_DIVISAO_ID      = MAX(CASE n.TB_NIVEL_ID WHEN 5 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_ALMOXARIFADO_ID = MAX(CASE n.TB_NIVEL_ID WHEN 7 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                  FROM      dbSEG.dbo.TB_LOGIN                l   (NOLOCK)
                 INNER JOIN dbSEG.dbo.TB_PERFIL_LOGIN         pf  (NOLOCK)
                         ON l.TB_LOGIN_ID         =  pf.TB_LOGIN_ID
                 INNER JOIN dbSEG.dbo.TB_LOGIN_NIVEL_ACESSO   lna (NOLOCK)
                         ON pf.TB_PERFIL_LOGIN_ID  = lna.TB_PERFIL_LOGIN_ID
                 INNER JOIN dbSEG.dbo.TB_NIVEL                n   (NOLOCK)
                         ON lna.TB_NIVEL_ID = n.TB_NIVEL_ID
                 GROUP BY l.TB_USUARIO_ID, l.TB_LOGIN_ID, pf.TB_PERFIL_LOGIN_ID, pf.TB_PERFIL_ID, pf.TB_GESTOR_ID_PADRAO, pf.TB_ORGAO_ID_PADRAO

                ) pf
             ON u.TB_USUARIO_ID = pf.TB_USUARIO_ID

    INNER JOIN dbSEG.dbo.TB_PERFIL               p   (NOLOCK)
             ON pf.TB_PERFIL_ID         = p.TB_PERFIL_ID

    --INNER JOIN dbSAMweb_desenv.dbo.TB_ORGAO o (NOLOCK)
    --         ON pf.TB_ORGAO_ID = o.TB_ORGAO_ID

    --INNER JOIN dbSAMweb_desenv.dbo.TB_GESTOR g (NOLOCK)
    --         ON pf.TB_ORGAO_ID      = g.TB_ORGAO_ID
    --            AND pf.TB_GESTOR_ID = g.TB_GESTOR_ID

      LEFT OUTER JOIN dbSEG.dbo.VW_LOG_USUARIO_QTD_ACESSOS   lqa (NOLOCK)
                ON      pf.TB_LOGIN_ID = lqa.TB_LOGIN_ID

      --LEFT OUTER JOIN (
      --                  SELECT  alm.TB_ALMOXARIFADO_ID,
      --                          alm.TB_ALMOXARIFADO_CODIGO,
      --                          TB_ALMOXARIFADO_DESCRICAO = REPLACE(alm.TB_ALMOXARIFADO_DESCRICAO, '  ', ' '),
      --                          uge.TB_UGE_ID,
      --                          uge.TB_UGE_CODIGO,
      --                          uge.TB_UGE_DESCRICAO,
      --                          uo.TB_UO_ID,
      --                          uo.TB_UO_CODIGO,
      --                          uo.TB_UO_DESCRICAO
      --                    FROM      dbSAMweb_desenv.dbo.TB_ALMOXARIFADO        alm (NOLOCK)
      --                   INNER JOIN dbSAMweb_desenv.dbo.TB_UGE                 uge (NOLOCK)
      --                           ON alm.TB_UGE_ID       = uge.TB_UGE_ID
      --                   INNER JOIN dbSAMweb_desenv..TB_UO                  uo (NOLOCK)
      --                           ON uge.TB_UO_ID        = uo.TB_UO_ID
      --                  ) estAlm
      --      ON      pf.TB_ALMOXARIFADO_ID = estAlm.TB_ALMOXARIFADO_ID
      --          AND pf.TB_PERFIL_ID NOT IN (2, 10)
      --LEFT OUTER JOIN (
      --                      SELECT  div.TB_DIVISAO_ID,
      --                              div.TB_DIVISAO_CODIGO,
      --                              div.TB_DIVISAO_DESCRICAO,
      --                              ua.TB_UA_ID,
      --                              ua.TB_UA_CODIGO,
      --                              ua.TB_UA_DESCRICAO,
      --                              uge.TB_UGE_ID,
      --                              uge.TB_UGE_CODIGO,
      --                              uge.TB_UGE_DESCRICAO,
      --                              uo.TB_UO_ID,
      --                              uo.TB_UO_CODIGO,
      --                              uo.TB_UO_DESCRICAO,
      --                              alm.TB_ALMOXARIFADO_ID,
      --                              alm.TB_ALMOXARIFADO_CODIGO,
      --                              TB_ALMOXARIFADO_DESCRICAO = REPLACE(alm.TB_ALMOXARIFADO_DESCRICAO, '  ', ' ')
      --                      FROM       dbSAMweb_desenv.dbo.TB_DIVISAO      div (NOLOCK)
      --                      INNER JOIN dbSAMweb_desenv.dbo.TB_ALMOXARIFADO alm (NOLOCK)
      --                              ON div.TB_ALMOXARIFADO_ID = alm.TB_ALMOXARIFADO_ID
      --                      INNER JOIN dbSAMweb_desenv.dbo.TB_UA                 ua  (NOLOCK)
      --                                   ON div.TB_UA_ID        = ua.TB_UA_ID
      --                      INNER JOIN dbSAMweb_desenv.dbo.TB_UGE                uge  (NOLOCK)
      --                                   ON ua.TB_UGE_ID        = ua.TB_UGE_ID
      --                      INNER JOIN dbSAMweb_desenv.dbo.TB_UO                 uo  (NOLOCK)
      --                                   ON uge.TB_UO_ID        = uo.TB_UO_ID
      --                  ) estDiv
      --       ON     pf.TB_DIVISAO_ID      = estDiv.TB_DIVISAO_ID
      --          AND pf.TB_UGE_ID          = estDiv.TB_UGE_ID
      --          AND pf.TB_PERFIL_ID       IN (2, 10)

GO
/****** Object:  View [dbo].[VW_DADOS_USUARIO_SEMPERFIS]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_DADOS_USUARIO_SEMPERFIS]
AS
    SELECT    u.[TB_USUARIO_ID]
            , u.[TB_USUARIO_CPF]
            , u.[TB_USUARIO_IND_ATIVO]
            , u.[TB_USUARIO_NOME_USUARIO]         
            , u.[TB_USUARIO_END_FONE]
            , u.[TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI]
            , u.[TB_USUARIO_EMAIL]
            , u.[TB_ORGAO_ID]
            , u.[TB_GESTOR_ID]
            , l.[TB_LOGIN_ID]
            , l.[TB_LOGIN_ATIVO]
            , l.[TB_LOGIN_SENHA]          
            , l.[TB_LOGIN_DATA_CADASTRO]
            , l.[TB_LOGIN_TENTATIVAS_INVALIDAS]
            , l.[TB_LOGIN_BLOQUEADO]
            , l.[TB_LOGIN_TROCAR_SENHA]
            , QTD_TOTAL_ACESSOS = 0
            , QTD_ACESSOS_30DIAS = 0
            , QTD_ACESSOS_90DIAS = 0
            , QTD_ACESSOS_180DIAS = 0
            , ULTIMO_ACESSO = NULL
            , DESCRICAO_PERFIL = ''
            , CODIGOS_PERFIL = ''
            , TB_PERFIL_ID = 0
            , TB_PERFIL_DESCRICAO_PADRAO = ''
            , ROW_NUMBER() OVER(PARTITION BY u.TB_USUARIO_CPF ORDER BY u.TB_USUARIO_CPF ASC, pf.TB_GESTOR_ID_PADRAO DESC) AS RowId

      FROM      dbo.TB_USUARIO              u   (NOLOCK)
   LEFT OUTER JOIN (
                SELECT        l.TB_USUARIO_ID
                            , l.TB_LOGIN_ID
                            , pf.TB_PERFIL_LOGIN_ID
                            , pf.TB_PERFIL_ID
                            , pf.TB_GESTOR_ID_PADRAO
                            , TB_ORGAO_ID        = MAX(CASE n.TB_NIVEL_ID WHEN 1 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_GESTOR_ID       = MAX(CASE n.TB_NIVEL_ID WHEN 6 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UO_ID           = MAX(CASE n.TB_NIVEL_ID WHEN 2 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UGE_ID          = MAX(CASE n.TB_NIVEL_ID WHEN 3 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_UA_ID           = MAX(CASE n.TB_NIVEL_ID WHEN 4 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_DIVISAO_ID      = MAX(CASE n.TB_NIVEL_ID WHEN 5 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                            , TB_ALMOXARIFADO_ID = MAX(CASE n.TB_NIVEL_ID WHEN 7 THEN TB_LOGIN_NIVEL_ACESSO_VALOR ELSE 0 END)
                  FROM      dbo.TB_LOGIN                l   (NOLOCK)
                 LEFT OUTER JOIN dbo.TB_PERFIL_LOGIN         pf  (NOLOCK)
                         ON l.TB_LOGIN_ID         =  pf.TB_LOGIN_ID
                 LEFT OUTER JOIN dbo.TB_LOGIN_NIVEL_ACESSO   lna (NOLOCK)
                         ON pf.TB_PERFIL_LOGIN_ID  = lna.TB_PERFIL_LOGIN_ID
                 LEFT OUTER JOIN dbo.TB_NIVEL                n   (NOLOCK)
                         ON lna.TB_NIVEL_ID = n.TB_NIVEL_ID
                 GROUP BY l.TB_USUARIO_ID, l.TB_LOGIN_ID, pf.TB_PERFIL_LOGIN_ID, pf.TB_PERFIL_ID, pf.TB_GESTOR_ID_PADRAO

                ) pf
             ON u.TB_USUARIO_ID = pf.TB_USUARIO_ID

    INNER JOIN TB_LOGIN l (NOLOCK)
            ON pf.TB_LOGIN_ID = l.TB_LOGIN_ID

    INNER JOIN dbSAMweb.dbo.TB_ORGAO o (NOLOCK)
             ON u.TB_ORGAO_ID = o.TB_ORGAO_ID

    INNER JOIN dbSAMweb.dbo.TB_GESTOR g (NOLOCK)
             ON u.TB_ORGAO_ID      = g.TB_ORGAO_ID
                AND u.TB_GESTOR_ID = g.TB_GESTOR_ID

     WHERE pf.TB_PERFIL_ID IS NULL

GO
/****** Object:  View [dbo].[VW_USUARIO_LOGIN_ACESSOS]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_USUARIO_LOGIN_ACESSOS]
AS
    SELECT 
           u.[TB_USUARIO_ID]
          ,u.[TB_USUARIO_CPF]
          ,u.[TB_USUARIO_IND_ATIVO]
          ,u.[TB_USUARIO_NOME_USUARIO]        
          ,u.[TB_USUARIO_END_FONE]
          ,u.[TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI]
          ,u.[TB_USUARIO_EMAIL]
          ,vdup.[TB_ORGAO_ID]
          ,vdup.[TB_GESTOR_ID]
          ,vdup.[TB_UGE_ID]
          ,lg.[TB_LOGIN_ID]
          ,lg.[TB_LOGIN_ATIVO]
          ,lg.[TB_LOGIN_SENHA]         
          ,lg.[TB_LOGIN_DATA_CADASTRO]
          ,lg.[TB_LOGIN_TENTATIVAS_INVALIDAS]
          ,lg.[TB_LOGIN_BLOQUEADO]
          ,lg.[TB_LOGIN_TROCAR_SENHA]
          ,vdup.[TB_PERFIL_ID]
          ,vdup.[TB_PERFIL_LOGIN_ID]
          ,vdup.TB_PERFIL_DESCRICAO
          ,vdup.DESCRICAO_PERFIL
          ,vdup.CODIGOS_PERFIL
          ,vdup.TB_PERFIL_PESO
          ,vdup.TB_ORGAO_ID_PADRAO
          ,vdup.[QTD_TOTAL_ACESSOS]
          ,vdup.[QTD_ACESSOS_30DIAS]
          ,vdup.[QTD_ACESSOS_90DIAS]
          ,vdup.[QTD_ACESSOS_180DIAS]
          ,vdup.[ULTIMO_ACESSO]
          ,vdup.RowId
          ,vdup.TB_ALMOXARIFADO_ID          
      FROM      VW_DADOS_USUARIO_PERFIS vdup (NOLOCK)
     INNER JOIN TB_USUARIO              u    (NOLOCK)
        ON  vdup.TB_USUARIO_ID = u.TB_USUARIO_ID
     INNER JOIN TB_LOGIN                lg   (NOLOCK)
        ON u.TB_USUARIO_ID = lg.TB_USUARIO_ID

GO
/****** Object:  Table [dbo].[TB_CONVENIO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CONVENIO](
	[TB_CONVENIO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_GESTOR_ID] [int] NOT NULL,
	[TB_MODULO_ID] [int] NOT NULL,
	[TB_CONVENIO_IND_ATIVO] [bit] NOT NULL,
	[TB_CONVENIO_DESCRICAO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_CONVENIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_HISTORICO_OPERACAO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_HISTORICO_OPERACAO](
	[TB_HISTORICO_OPERACAO_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TB_HISTORICO_OPERACAO_ID_ORIGEM] [bigint] NULL,
	[TB_HISTORICO_OPERACAO_MODULO_ID] [int] NULL,
	[TB_HISTORICO_OPERACAO_DATA] [datetime] NULL,
	[TB_HISTORICO_OPERACAO_IP] [varchar](20) NULL,
	[TB_PERFIL_TRANSACAO_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_HISTORICO_OPERACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_MATERIAL_APOIO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MATERIAL_APOIO](
	[TB_MATERIAL_APOIO_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TB_MATERIAL_APOIO_PATH_ARQUIVO] [varchar](255) NOT NULL,
	[TB_MATERIAL_APOIO_NOME_ARQUIVO] [varchar](255) NOT NULL,
	[TB_MATERIAL_APOIO_CODIGO] [int] NULL,
	[TB_MATERIAL_APOIO_TIPO_RECURSO] [varchar](4) NOT NULL,
	[TB_MATERIAL_APOIO_DESCRICAO] [varchar](255) NOT NULL,
	[TB_MATERIAL_APOIO_DESCRICAO_DETALHADA] [varchar](1024) NOT NULL,
	[TB_PERFIL_ID] [int] NULL,
 CONSTRAINT [PK_TB_MATERIAL_APOIO] PRIMARY KEY CLUSTERED 
(
	[TB_MATERIAL_APOIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_MODULO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MODULO](
	[TB_MODULO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_SISTEMA_ID] [int] NOT NULL,
	[TB_MODULO_IND_ATIVO] [bit] NOT NULL,
	[TB_MODULO_SIGLA] [varchar](20) NOT NULL,
	[TB_MODULO_DESCRICAO] [varchar](100) NOT NULL,
	[TB_MODULO_ORDEM] [smallint] NULL,
	[TB_MODULO_CAMINHO] [varchar](255) NULL,
	[TB_MODULO_ID_PAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_MODULO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_NOTIFICACAO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NOTIFICACAO](
	[TB_NOTIFICACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_PERFIL_ID] [smallint] NULL,
	[TB_NOTIFICACAO_TITULO] [varchar](255) NOT NULL,
	[TB_NOTIFICACAO_MENSAGEM] [varchar](max) NOT NULL,
	[TB_NOTIFICACAO_DATA] [datetime] NOT NULL,
	[TB_NOTIFICACAO_IND_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_NOTIFICACAO_ID] PRIMARY KEY CLUSTERED 
(
	[TB_NOTIFICACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_PERFIL_NIVEL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFIL_NIVEL](
	[TB_PERFIL_NIVEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_PERFIL_ID] [smallint] NOT NULL,
	[TB_NIVEL_ID] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_PERFIL_NIVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_SISTEMA]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SISTEMA](
	[TB_SISTEMA_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_SISTEMA_ATIVO] [bit] NOT NULL,
	[TB_SISTEMA_SIGLA] [varchar](20) NOT NULL,
	[TB_SISTEMA_DESCRICAO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_SISTEMA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TRANSACAO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRANSACAO](
	[TB_TRANSACAO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_MODULO_ID] [int] NOT NULL,
	[TB_TRANSACAO_ATIVO] [bit] NOT NULL,
	[TB_TRANSACAO_SIGLA] [varchar](30) NOT NULL,
	[TB_TRANSACAO_DESCRICAO] [varchar](100) NOT NULL,
	[TB_TRANSACAO_CAMINHO] [varchar](255) NOT NULL,
	[TB_TRANSACAO_ORDEM] [int] NULL,
 CONSTRAINT [PK__TB_TRANSACAO__3B75D760] PRIMARY KEY CLUSTERED 
(
	[TB_TRANSACAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_TRANSACAO_PERFIL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRANSACAO_PERFIL](
	[TB_TRANSACAO_PERFIL_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_TRANSACAO_ID] [int] NOT NULL,
	[TB_PERFIL_ID] [smallint] NOT NULL,
	[TB_TRANSACAO_ATIVO] [bit] NOT NULL,
	[TB_TRANSACAO_PERFIL_EDITA] [bit] NOT NULL,
	[TB_TRANSACAO_FILTRA_COMBO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_TRANSACAO_PERFIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_USUARIO_LOGADO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO_LOGADO](
	[TB_USUARIO_LOGADO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TB_LOGIN_ID] [int] NULL,
	[TB_DATA_HORA_LOGADO] [datetime] NOT NULL,
	[TB_IP_LOGADO] [varchar](20) NULL,
	[TB_SESSION_ID] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[TB_USUARIO_LOGADO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_LOGIN]    Script Date: 14/05/2021 09:19:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LOGIN] ON [dbo].[TB_LOGIN_NIVEL_ACESSO]
(
	[TB_NIVEL_ID] ASC,
	[TB_PERFIL_LOGIN_ID] ASC,
	[TB_LOGIN_NIVEL_ACESSO_VALOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TB_LOGIN_NIVEL_ACESSO_TB_PERFIL_LOGIN_ID]    Script Date: 14/05/2021 09:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_TB_LOGIN_NIVEL_ACESSO_TB_PERFIL_LOGIN_ID] ON [dbo].[TB_LOGIN_NIVEL_ACESSO]
(
	[TB_PERFIL_LOGIN_ID] ASC
)
INCLUDE ( 	[TB_NIVEL_ID],
	[TB_LOGIN_NIVEL_ACESSO_VALOR]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TB_PERFIL_LOGIN_TB_GESTOR_ID_PADRAO]    Script Date: 14/05/2021 09:19:17 ******/
CREATE NONCLUSTERED INDEX [IX_TB_PERFIL_LOGIN_TB_GESTOR_ID_PADRAO] ON [dbo].[TB_PERFIL_LOGIN]
(
	[TB_GESTOR_ID_PADRAO] ASC,
	[TB_PERFIL_ID] ASC
)
INCLUDE ( 	[TB_LOGIN_ID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TB_USUARIO_TB_USUARIO_CPF]    Script Date: 14/05/2021 09:19:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TB_USUARIO_TB_USUARIO_CPF] ON [dbo].[TB_USUARIO]
(
	[TB_USUARIO_CPF] ASC,
	[TB_ORGAO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_HISTORICO_OPERACAO] ADD  DEFAULT (getdate()) FOR [TB_HISTORICO_OPERACAO_DATA]
GO
ALTER TABLE [dbo].[TB_LOGIN] ADD  CONSTRAINT [DF_TB_LOGIN_TB_LOGIN_ATIVO]  DEFAULT ((0)) FOR [TB_LOGIN_ATIVO]
GO
ALTER TABLE [dbo].[TB_LOGIN] ADD  DEFAULT (getdate()) FOR [TB_LOGIN_DATA_CADASTRO]
GO
ALTER TABLE [dbo].[TB_LOGIN] ADD  CONSTRAINT [TB_CONSTRAINT_2]  DEFAULT ((0)) FOR [TB_LOGIN_TENTATIVAS_INVALIDAS]
GO
ALTER TABLE [dbo].[TB_LOGIN] ADD  DEFAULT ((0)) FOR [TB_LOGIN_BLOQUEADO]
GO
ALTER TABLE [dbo].[TB_LOGIN] ADD  CONSTRAINT [TB_CONSTRAINT_1]  DEFAULT ((0)) FOR [TB_LOGIN_TROCAR_SENHA]
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO] ADD  DEFAULT ((1)) FOR [TB_LOGIN_NIVEL_ACESSO_ATIVO]
GO
ALTER TABLE [dbo].[TB_MODULO] ADD  CONSTRAINT [DF_TB_MODULO_TB_MODULO_ORDEM]  DEFAULT ((0)) FOR [TB_MODULO_ORDEM]
GO
ALTER TABLE [dbo].[TB_NIVEL] ADD  DEFAULT (NULL) FOR [TB_NIVEL_ID_PAI]
GO
ALTER TABLE [dbo].[TB_PERFIL_LOGIN] ADD  DEFAULT ((1)) FOR [TB_PERFIL_LOGIN_ATIVO]
GO
ALTER TABLE [dbo].[TB_TRANSACAO] ADD  CONSTRAINT [DF_TB_TRANSACAO_TB_TRANSACAO_ORDEM]  DEFAULT ((0)) FOR [TB_TRANSACAO_ORDEM]
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL] ADD  DEFAULT ((1)) FOR [TB_TRANSACAO_ATIVO]
GO
ALTER TABLE [dbo].[TB_USUARIO] ADD  CONSTRAINT [DF__TB_USUARI__TB_US__00551192]  DEFAULT ((1)) FOR [TB_USUARIO_IND_ATIVO]
GO
ALTER TABLE [dbo].[TB_CONVENIO]  WITH CHECK ADD FOREIGN KEY([TB_MODULO_ID])
REFERENCES [dbo].[TB_MODULO] ([TB_MODULO_ID])
GO
ALTER TABLE [dbo].[TB_CONVENIO]  WITH CHECK ADD FOREIGN KEY([TB_MODULO_ID])
REFERENCES [dbo].[TB_MODULO] ([TB_MODULO_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK__TB_LOGIN__TB_USU__0519C6AF] FOREIGN KEY([TB_USUARIO_ID])
REFERENCES [dbo].[TB_USUARIO] ([TB_USUARIO_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN] CHECK CONSTRAINT [FK__TB_LOGIN__TB_USU__0519C6AF]
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO]  WITH CHECK ADD FOREIGN KEY([TB_LOGIN_NIVEL_ACESSO_ID_PAI])
REFERENCES [dbo].[TB_LOGIN_NIVEL_ACESSO] ([TB_LOGIN_NIVEL_ACESSO_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO]  WITH CHECK ADD FOREIGN KEY([TB_LOGIN_NIVEL_ACESSO_ID_PAI])
REFERENCES [dbo].[TB_LOGIN_NIVEL_ACESSO] ([TB_LOGIN_NIVEL_ACESSO_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO]  WITH CHECK ADD  CONSTRAINT [FK_TB_LOGIN_NIVEL_ACESSO_TB_PERFIL_LOGIN] FOREIGN KEY([TB_PERFIL_LOGIN_ID])
REFERENCES [dbo].[TB_PERFIL_LOGIN] ([TB_PERFIL_LOGIN_ID])
GO
ALTER TABLE [dbo].[TB_LOGIN_NIVEL_ACESSO] CHECK CONSTRAINT [FK_TB_LOGIN_NIVEL_ACESSO_TB_PERFIL_LOGIN]
GO
ALTER TABLE [dbo].[TB_MODULO]  WITH CHECK ADD FOREIGN KEY([TB_MODULO_ID_PAI])
REFERENCES [dbo].[TB_MODULO] ([TB_MODULO_ID])
GO
ALTER TABLE [dbo].[TB_MODULO]  WITH CHECK ADD FOREIGN KEY([TB_MODULO_ID_PAI])
REFERENCES [dbo].[TB_MODULO] ([TB_MODULO_ID])
GO
ALTER TABLE [dbo].[TB_MODULO]  WITH CHECK ADD FOREIGN KEY([TB_SISTEMA_ID])
REFERENCES [dbo].[TB_SISTEMA] ([TB_SISTEMA_ID])
GO
ALTER TABLE [dbo].[TB_MODULO]  WITH CHECK ADD FOREIGN KEY([TB_SISTEMA_ID])
REFERENCES [dbo].[TB_SISTEMA] ([TB_SISTEMA_ID])
GO
ALTER TABLE [dbo].[TB_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID_PAI])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID_PAI])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_NOTIFICACAO]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK__TB_PERFIL__TB_LO__117F9D94] FOREIGN KEY([TB_LOGIN_ID])
REFERENCES [dbo].[TB_LOGIN] ([TB_LOGIN_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_LOGIN] CHECK CONSTRAINT [FK__TB_PERFIL__TB_LO__117F9D94]
GO
ALTER TABLE [dbo].[TB_PERFIL_LOGIN]  WITH CHECK ADD  CONSTRAINT [FK__TB_PERFIL__TB_PE__108B795B] FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_LOGIN] CHECK CONSTRAINT [FK__TB_PERFIL__TB_PE__108B795B]
GO
ALTER TABLE [dbo].[TB_PERFIL_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_NIVEL_ID])
REFERENCES [dbo].[TB_NIVEL] ([TB_NIVEL_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_PERFIL_NIVEL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO]  WITH CHECK ADD  CONSTRAINT [FK__TB_TRANSA__TB_MO__3C69FB99] FOREIGN KEY([TB_MODULO_ID])
REFERENCES [dbo].[TB_MODULO] ([TB_MODULO_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO] CHECK CONSTRAINT [FK__TB_TRANSA__TB_MO__3C69FB99]
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL]  WITH CHECK ADD FOREIGN KEY([TB_PERFIL_ID])
REFERENCES [dbo].[TB_PERFIL] ([TB_PERFIL_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK__TB_TRANSA__TB_TR__3D5E1FD2] FOREIGN KEY([TB_TRANSACAO_ID])
REFERENCES [dbo].[TB_TRANSACAO] ([TB_TRANSACAO_ID])
GO
ALTER TABLE [dbo].[TB_TRANSACAO_PERFIL] CHECK CONSTRAINT [FK__TB_TRANSA__TB_TR__3D5E1FD2]
GO
ALTER TABLE [dbo].[TB_USUARIO_LOGADO]  WITH CHECK ADD  CONSTRAINT [FK_TB_LOGIN_TB_USUARIO_LOGADO_LOGIN_ID] FOREIGN KEY([TB_LOGIN_ID])
REFERENCES [dbo].[TB_LOGIN] ([TB_LOGIN_ID])
GO
ALTER TABLE [dbo].[TB_USUARIO_LOGADO] CHECK CONSTRAINT [FK_TB_LOGIN_TB_USUARIO_LOGADO_LOGIN_ID]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LISTAR_USUARIOS_LOGIN_ACESSOS]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LISTAR_USUARIOS_LOGIN_ACESSOS]
    @cpfLogin       VARCHAR(11),    
    @orgaoId        INT = NULL,    
    @gestorId       INT = NULL,    
    @ugeId          INT = NULL,    
    @almoxarifadoId INT = NULL,    
    @peso           INT = 70,    
    @pesquisa       VARCHAR(MAX) = '',    
    @perfilId       INT = 0    
AS    
BEGIN    
    SET NOCOUNT ON    
    
    DECLARE @nivelOrgao  INT = 1    
    DECLARE @nivelGestor INT = 6    
    DECLARE @nivelUge    INT =3    
    DECLARE @nivelAlmoxarifado INT =7    
    DECLARE @padraoPesquisa   VARCHAR(200) = '%' + @pesquisa + '%';    
    
    DECLARE @perfil INT = ISNULL(@perfilId, 0)    
    IF(@ugeId=0 OR @ugeId IS NULL)    
    BEGIN    
    SELECT  DISTINCT    
    vw.TB_UGE_ID    
             , vw.[TB_USUARIO_ID]    
            , vw.[TB_USUARIO_CPF]    
            , vw.[TB_USUARIO_IND_ATIVO]    
            , vw.[TB_USUARIO_NOME_USUARIO]            
            , vw.[TB_USUARIO_END_FONE]    
            , vw.[TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI]    
            , vw.[TB_USUARIO_EMAIL]    
            , vw.[TB_ORGAO_ID]    
            , vw.[TB_GESTOR_ID]    
            , vw.[TB_LOGIN_ID]    
            , vw.[TB_LOGIN_ATIVO]    
            , vw.[TB_LOGIN_SENHA]              
            , vw.[TB_LOGIN_DATA_CADASTRO]    
            , vw.[TB_LOGIN_TENTATIVAS_INVALIDAS]    
            , vw.[TB_LOGIN_BLOQUEADO]    
            , vw.[TB_LOGIN_TROCAR_SENHA]    
            , QTD_TOTAL_ACESSOS = vw.[QTD_TOTAL_ACESSOS]    
            , QTD_ACESSOS_30DIAS = vw.[QTD_ACESSOS_30DIAS]    
            , QTD_ACESSOS_90DIAS = vw.[QTD_ACESSOS_90DIAS]    
            , QTD_ACESSOS_180DIAS = vw.[QTD_ACESSOS_180DIAS]    
            , ULTIMO_ACESSO = vw.[ULTIMO_ACESSO]    
            , vw.[DESCRICAO_PERFIL]    
            , vw.[CODIGOS_PERFIL]    
            , vw.[TB_PERFIL_ID]    
            , vw.[TB_PERFIL_DESCRICAO] [TB_PERFIL_DESCRICAO_PADRAO]  
   , vw.[TB_PERFIL_LOGIN_ID] [TB_PERFIL_LOGIN_ID]  
        FROM   dbo.VW_USUARIO_LOGIN_ACESSOS vw  (NOLOCK)    
    INNER JOIN dbo.TB_LOGIN_NIVEL_ACESSO    lna (NOLOCK)    
            ON vw.TB_PERFIL_LOGIN_ID = lna.TB_PERFIL_LOGIN_ID                 
    WHERE         
            (vw.TB_ORGAO_ID  = @orgaoId  OR (lna.TB_NIVEL_ID = @nivelOrgao  AND lna.TB_LOGIN_NIVEL_ACESSO_VALOR = @orgaoId))    
        AND (vw.TB_GESTOR_ID = @gestorId OR (lna.TB_NIVEL_ID = @nivelGestor AND lna.TB_LOGIN_NIVEL_ACESSO_VALOR = @gestorId))    
    
        AND (vw.TB_PERFIL_PESO <= @peso OR vw.TB_PERFIL_LOGIN_ID IS NULL)    
    
        AND ((/*vw.TB_ORGAO_ID_PADRAO > 0 AND */@perfil = 0 AND vw.RowId = 1) OR (@perfil > 0 AND vw.TB_PERFIL_ID = @perfil))    
    
        AND vw.TB_USUARIO_CPF <> @cpfLogin    
    
        AND (   LTRIM(@pesquisa)             = ''    
            OR vw.TB_USUARIO_CPF          LIKE @padraoPesquisa    
            OR vw.TB_USUARIO_NOME_USUARIO LIKE @padraoPesquisa    
            OR vw.TB_USUARIO_EMAIL        LIKE @padraoPesquisa)               
    ORDER BY [TB_USUARIO_NOME_USUARIO]    
    END    
  
IF(@ugeId>0)    
    BEGIN     
     SELECT  DISTINCT    
              vw.[TB_USUARIO_ID]    
            , vw.[TB_USUARIO_CPF]    
           , vw.[TB_USUARIO_IND_ATIVO]    
            , vw.[TB_USUARIO_NOME_USUARIO]            
            , vw.[TB_USUARIO_END_FONE]    
           , vw.[TB_USUARIO_RESPONSAVEL_ID_USUARIO_PAI]    
            , vw.[TB_USUARIO_EMAIL]    
           , vw.[TB_ORGAO_ID]    
         , vw.[TB_GESTOR_ID]    
            , vw.[TB_LOGIN_ID]    
            , vw.[TB_LOGIN_ATIVO]    
            , vw.[TB_LOGIN_SENHA]              
            , vw.[TB_LOGIN_DATA_CADASTRO]    
            , vw.[TB_LOGIN_TENTATIVAS_INVALIDAS]    
            , vw.[TB_LOGIN_BLOQUEADO]    
            , vw.[TB_LOGIN_TROCAR_SENHA]    
            , QTD_TOTAL_ACESSOS = vw.[QTD_TOTAL_ACESSOS]    
            , QTD_ACESSOS_30DIAS = vw.[QTD_ACESSOS_30DIAS]    
            , QTD_ACESSOS_90DIAS = vw.[QTD_ACESSOS_90DIAS]    
            , QTD_ACESSOS_180DIAS = vw.[QTD_ACESSOS_180DIAS]    
            , ULTIMO_ACESSO = vw.[ULTIMO_ACESSO]    
            , vw.[DESCRICAO_PERFIL]    
            , vw.[CODIGOS_PERFIL]    
            , vw.[TB_PERFIL_ID]    
            , vw.[TB_PERFIL_DESCRICAO] [TB_PERFIL_DESCRICAO_PADRAO]    
   , vw.[TB_PERFIL_LOGIN_ID] [TB_PERFIL_LOGIN_ID]  
  FROM   dbo.VW_USUARIO_LOGIN_ACESSOS vw  (NOLOCK)    
    
    INNER JOIN dbo.TB_LOGIN_NIVEL_ACESSO    lna (NOLOCK)    
            ON vw.TB_PERFIL_LOGIN_ID = lna.TB_PERFIL_LOGIN_ID              
    WHERE         
            (vw.TB_ORGAO_ID  = @orgaoId  OR (lna.TB_NIVEL_ID = @nivelOrgao  AND lna.TB_LOGIN_NIVEL_ACESSO_VALOR = @orgaoId))    
        AND (vw.TB_GESTOR_ID = @gestorId OR (lna.TB_NIVEL_ID = @nivelGestor AND lna.TB_LOGIN_NIVEL_ACESSO_VALOR = @gestorId))    
        AND (vw.TB_PERFIL_PESO <= @peso )    
        AND ((@perfil > 0 and vw.TB_PERFIL_ID = @perfil) or (vw.RowId = 1 and @perfil = 0 AND vw.TB_PERFIL_ID > @perfil))    
        AND (vw.TB_UGE_ID=@ugeId OR (lna.TB_NIVEL_ID = @nivelUge AND lna.TB_LOGIN_NIVEL_ACESSO_VALOR = @ugeId)OR    
         (lna.TB_NIVEL_ID=@nivelAlmoxarifado and vw.TB_ALMOXARIFADO_ID=@almoxarifadoId ))    
        AND vw.TB_USUARIO_CPF <> @cpfLogin    
        AND (   LTRIM(@pesquisa)             = ''    
            OR vw.TB_USUARIO_CPF          LIKE @padraoPesquisa    
            OR vw.TB_USUARIO_NOME_USUARIO LIKE @padraoPesquisa    
            OR vw.TB_USUARIO_EMAIL        LIKE @padraoPesquisa)               
    ORDER BY [TB_USUARIO_NOME_USUARIO]    
    END    
END 

GO
/****** Object:  StoredProcedure [dbo].[PROC_CRIACAO_MODULO_RELATORIOS_E_TRANSACOES]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Claudio Carvalho
-- Create date: 02/07/2015
-- Description:	Cria o módulo relatórios e as transações Exportação Dinâmica, Relatórios Mensais e Consultas;
-- -----------	Vincula as transações aos perfis.
-- =============================================
CREATE PROCEDURE [dbo].[PROC_CRIACAO_MODULO_RELATORIOS_E_TRANSACOES]
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @SistemaId AS int
	DECLARE @ModuloId AS int
	DECLARE @TransacaoExpDinamica AS int
	DECLARE @TransacaoConsultas AS int
	DECLARE @TransacaoRelMensais AS int

	SELECT @SistemaId = TB_SISTEMA_ID  FROM TB_SISTEMA WHERE TB_SISTEMA_SIGLA = 'SAM'
	
	/*INSERIR MÓDULO RELATÓRIOS*/
	INSERT INTO [dbo].[TB_MODULO]
		([TB_SISTEMA_ID]
		,[TB_MODULO_IND_ATIVO]
		,[TB_MODULO_SIGLA]
		,[TB_MODULO_DESCRICAO]
		,[TB_MODULO_ORDEM]
		,[TB_MODULO_CAMINHO]
		,[TB_MODULO_ID_PAI])
	VALUES
		(@SistemaId, 1, 'REL', 'Relatórios', 6, NULL, NULL)

	SELECT @ModuloId = TB_MODULO_ID FROM TB_MODULO WHERE TB_MODULO_SIGLA = 'REL' AND TB_MODULO_DESCRICAO = 'Relatórios'

	/*INSERIR TRANSAÇÕES NO MÓDULO RELATÓRIOS*/
	INSERT INTO [dbo].[TB_TRANSACAO]
		([TB_MODULO_ID]
		,[TB_TRANSACAO_ATIVO]
		,[TB_TRANSACAO_SIGLA]
		,[TB_TRANSACAO_DESCRICAO]
		,[TB_TRANSACAO_CAMINHO]
		,[TB_TRANSACAO_ORDEM])
	VALUES
		(@ModuloId, 1, 'Exportação Dinâmica', 'Módulo Relatórios - Exportação Dinâmica', '/Almoxarifado/Exportacao.aspx', 1) --Exportação Dinâmica
		,(@ModuloId, 1, 'Relatórios Mensais', 'Módulo Relatórios - Relatórios Mensais', '/Almoxarifado/RelatoriosMensais.aspx', 2) -- Relatórios Mensais
		,(@ModuloId, 1, 'Consultas', 'Módulo Relatórios - Consultas', '/Almoxarifado/Consultas.aspx', 3) -- Consultas

	SELECT @TransacaoExpDinamica = TB_TRANSACAO_ID FROM TB_TRANSACAO WHERE TB_TRANSACAO_DESCRICAO = 'Módulo Relatórios - Exportação Dinâmica'
	
	/*TRANSAÇÃO PERFIL EXPORTAÇÃO DINAMICA*/
	INSERT INTO [dbo].[TB_TRANSACAO_PERFIL]
		([TB_TRANSACAO_ID]
		,[TB_PERFIL_ID]
		,[TB_TRANSACAO_ATIVO]
		,[TB_TRANSACAO_PERFIL_EDITA]
		,[TB_TRANSACAO_FILTRA_COMBO])
	VALUES
		(@TransacaoExpDinamica, 3, 1, 1, 1)
		,(@TransacaoExpDinamica, 4, 1, 1, 1)
		,(@TransacaoExpDinamica, 5, 1, 1, 1)

	SELECT @TransacaoRelMensais = TB_TRANSACAO_ID FROM TB_TRANSACAO WHERE TB_TRANSACAO_DESCRICAO = 'Módulo Relatórios - Relatórios Mensais'
	
	/*TRANSAÇÃO PERFIL RELATORIOS MENSAIS*/
	INSERT INTO [dbo].[TB_TRANSACAO_PERFIL]
		([TB_TRANSACAO_ID]
		,[TB_PERFIL_ID]
		,[TB_TRANSACAO_ATIVO]
		,[TB_TRANSACAO_PERFIL_EDITA]
		,[TB_TRANSACAO_FILTRA_COMBO])
	VALUES
		(@TransacaoRelMensais, 1, 1, 0, NULL)
		,(@TransacaoRelMensais, 3, 1, 0, NULL)
		,(@TransacaoRelMensais, 4, 1, 1, 1)
		,(@TransacaoRelMensais, 5, 1, 0, NULL)
		,(@TransacaoRelMensais, 9, 1, 0, 0)

	
	SELECT @TransacaoConsultas = TB_TRANSACAO_ID FROM TB_TRANSACAO WHERE TB_TRANSACAO_DESCRICAO = 'Módulo Relatórios - Consultas'

	/*TRANSAÇÃO PERFIL CONSULTA*/
	INSERT INTO [dbo].[TB_TRANSACAO_PERFIL]
		([TB_TRANSACAO_ID]
		,[TB_PERFIL_ID]
		,[TB_TRANSACAO_ATIVO]
		,[TB_TRANSACAO_PERFIL_EDITA]
		,[TB_TRANSACAO_FILTRA_COMBO])
	VALUES
		(@TransacaoConsultas, 1, 1, 0, NULL)
		,(@TransacaoConsultas, 3, 1, 0, NULL)
		,(@TransacaoConsultas, 4, 1, 1, 1)
		,(@TransacaoConsultas, 5, 1, 0, NULL)
		,(@TransacaoConsultas, 9, 1, 0, 0)

END

GO
/****** Object:  StoredProcedure [dbo].[SP_PERFIL_LOGIN_OBTER_BY_LOGIN_ID]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PERFIL_LOGIN_OBTER_BY_LOGIN_ID] @LoginId int
AS
BEGIN
SELECT top 1 pl.*
FROM tb_perfil_login	pl
JOIN tb_login 			l	ON l.tb_login_id = pl.tb_login_id
JOIN tb_login_nivel_acesso lna ON lna.tb_perfil_login_id = pl.tb_perfil_login_id
WHERE 	l.tb_login_id = 3273
	--AND lna.tb_login_nivel_acesso_default = 1
	AND pl.TB_PERFIL_LOGIN_ATIVO = 1
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PERFIL_NIVEL_LISTAR_BY_ID_PERFIL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PERFIL_NIVEL_LISTAR_BY_ID_PERFIL] @TB_PERFIL_ID int
AS
BEGIN
	SET NOCOUNT ON;
SELECT PN.* 
FROM TB_PERFIL_NIVEL		PN
JOIN dbo.TB_PERFIL			P	ON P.TB_PERFIL_ID = PN.TB_PERFIL_ID
JOIN dbo.TB_NIVEL			N	ON PN.TB_NIVEL_ID = N.TB_NIVEL_ID 
JOIN TB_PERFIL_LOGIN		PL  ON P.TB_PERFIL_ID = PL.TB_PERFIL_ID  
JOIN TB_LOGIN 				L	ON L.TB_LOGIN_ID = PL.TB_LOGIN_ID
JOIN TB_LOGIN_NIVEL_ACESSO	LNA ON LNA.TB_PERFIL_LOGIN_ID = PL.TB_PERFIL_LOGIN_ID AND LNA.TB_NIVEL_ID = N.TB_NIVEL_ID
WHERE --LNA.TB_LOGIN_NIVEL_ACESSO_DEFAULT = 1	
--AND P.TB_PERFIL_ID = @TB_PERFIL_ID
P.TB_PERFIL_ID = @TB_PERFIL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PERFIL_NIVEL_OBTER_BY_ID_PERFIL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PERFIL_NIVEL_OBTER_BY_ID_PERFIL] @TB_PERFIL_ID int, @TB_LOGIN_ID int
AS
BEGIN
	SET NOCOUNT ON;
SELECT TOP 1 PN.* -- geralmente se tudo correto volta apenas 1, o TOP 1 é só para ter certeza
FROM TB_PERFIL_NIVEL		PN
JOIN dbo.TB_PERFIL			P	ON P.TB_PERFIL_ID = PN.TB_PERFIL_ID
JOIN dbo.TB_NIVEL			N	ON PN.TB_NIVEL_ID = N.TB_NIVEL_ID 
JOIN TB_PERFIL_LOGIN		PL  ON P.TB_PERFIL_ID = PL.TB_PERFIL_ID  
JOIN TB_LOGIN 				L	ON L.TB_LOGIN_ID = PL.TB_LOGIN_ID
JOIN TB_LOGIN_NIVEL_ACESSO	LNA ON LNA.TB_PERFIL_LOGIN_ID = PL.TB_PERFIL_LOGIN_ID AND LNA.TB_NIVEL_ID = N.TB_NIVEL_ID
WHERE --LNA.TB_LOGIN_NIVEL_ACESSO_DEFAULT = 1	
--AND P.TB_PERFIL_ID = @TB_PERFIL_ID
P.TB_PERFIL_ID = @TB_PERFIL_ID
AND L.TB_LOGIN_ID = @TB_LOGIN_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_LOGIN_DESLOGAR_USUARIO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-----------------------------------------------------------------------------------
Nome Procedure: SP_TB_LOGIN_DESLOGAR_USUARIO
Modulo........: SCPweb
-----------------------------------------------------------------------------------
Autor                           	Data                            RT
-----------------------------   	-----------------------------   -----------
Celso R. Lívero						21/05/2014						Create
-----------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP_TB_LOGIN_DESLOGAR_USUARIO] 	
	@TB_LOGIN_ID	int
AS
BEGIN

	UPDATE TB_LOGIN SET 
		TB_LOGIN_ATIVO = '0' 
	WHERE  TB_LOGIN_ID = @TB_LOGIN_ID;
		
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TB_LOGIN_LOGAR_USUARIO]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-----------------------------------------------------------------------------------
Nome Procedure: SP_TB_LOGIN_LOGAR_USUARIO
Modulo........: SCPweb
-----------------------------------------------------------------------------------
Autor                           	Data                            RT
-----------------------------   	-----------------------------   -----------
Celso R. Lívero						21/05/2014						Create
-----------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP_TB_LOGIN_LOGAR_USUARIO] 	
	@TB_LOGIN_ID	int
AS
BEGIN

	UPDATE TB_LOGIN SET 
		TB_LOGIN_ATIVO = '1'
	WHERE  TB_LOGIN_ID = @TB_LOGIN_ID;
		
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TB_LOGIN_NIVEL_ACESSO_OBTER_BY_ID_PERFIL_LOGIN]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TB_LOGIN_NIVEL_ACESSO_OBTER_BY_ID_PERFIL_LOGIN] @TB_PERFIL_LOGIN_ID int
AS
BEGIN
	SET NOCOUNT ON;
SELECT TOP 1 * 
FROM tb_login_nivel_acesso 
WHERE tb_perfil_login_id = @TB_PERFIL_LOGIN_ID
--AND TB_LOGIN_NIVEL_ACESSO_DEFAULT = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TB_TRANSACAO_PERFIL_LISTAR_POR_ID_PERFIL]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-----------------------------------------------------------------------------------
Nome Procedure: [SP_TB_TRANSACAO_PERFIL_LISTAR_POR_ID_PERFIL]
Modulo........: Prodesp - SCPWeb
-----------------------------------------------------------------------------------
Autor                           	Data                            Alteração
-----------------------------   	-----------------------------   -----------
Celso R. Lívero						06/06/2014						Criação
-----------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[SP_TB_TRANSACAO_PERFIL_LISTAR_POR_ID_PERFIL] 	
    @TB_PERFIL_ID INT
AS
BEGIN 
	SELECT  *
	FROM TB_TRANSACAO_PERFIL
	WHERE TB_PERFIL_ID = @TB_PERFIL_ID
END

GO
/****** Object:  StoredProcedure [dbo].[TB_LOGIN_OBTER_LOGIN_BY_USERNAME]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-----------------------------------------------------------------------------------
Nome Procedure: TB_LOGIN_OBTER_LOGIN_BY_USERNAME
Modulo........: SCPweb
-----------------------------------------------------------------------------------
Autor                           	Data                            Alteração
-----------------------------   	-----------------------------   -----------
Celso R. Lívero						07.04.2014						Criação
-----------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[TB_LOGIN_OBTER_LOGIN_BY_USERNAME] 		
	@UserName varchar(120)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT l.* 
	FROM tb_login		l
	JOIN tb_usuario 	u	ON l.tb_usuario_id = u.tb_usuario_id
	WHERE 	u.tb_usuario_email = @UserName
		OR 	u.tb_usuario_cpf = @UserName

END

GO
/****** Object:  StoredProcedure [dbo].[TB_NIVEL_OBTER]    Script Date: 14/05/2021 09:19:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*-----------------------------------------------------------------------------------
Nome Procedure: TB_NIVEL_OBTER
Modulo........: SCPweb
-----------------------------------------------------------------------------------
Autor                           	Data                            Alteração
-----------------------------   	-----------------------------   -----------
Celso R. Lívero						08.04.2014						Criação
-----------------------------------------------------------------------------------*/
CREATE PROCEDURE [dbo].[TB_NIVEL_OBTER] 		
	@TB_NIVEL_ID varchar(120)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT * 
	FROM tb_nivel		
	WHERE tb_nivel_id = @TB_NIVEL_ID

END

GO
